body{
    font-family: "Segoe UI";
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 1.4;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: rgb(77,77,77)
}
h1, h2, h3{
    font-family: 'Georgia';
    color: #000;
    font-weight: 800;
    letter-spacing: 0px;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 720px;
}
ul{
    padding-left: 6px;
}
ul li{
    list-style-type: none;
}
ul li input{
    display: none
}
.checkmark{
    width: 12px;
    height: 12px;
    border: 1px solid rgb(77,77,77);
    display: inline-block;
    margin-right: 6px
}
ul li input[type="checkbox"]:checked + .checkmark{
    background: #fc4530;
    border: 1px solid #fc4530
}
#intro, #tasks, footer{
    padding: 40px 0 45px
}
#intro, footer{
    background: #000;
    color: #949494
}
#intro h1{
    color: #fafafa;
    margin: 0;
    font-size: 45px;
    transition: all 0.2s;
}
#intro:hover h1{
    color: #fc4530;
    cursor: pointer;
}
footer h1{
    color: #fafafa
}
code.inline{
    background: #fafafa;
    font-family: "consolas";
    font-size: 16px;
    padding: 3px;
    border-radius: 2px;
    color: #fc4530
}
.button{
    box-shadow: none;
    font-weight: 400;
    font-family: inherit;
    font-size: 12px;
    color: #f9f8f4;
    border: none;
    background-color: #fc4530;
    padding: 14.5px 35px;
    cursor: pointer;
    transition: all ease 0.5s;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 1px solid rgba(0, 0, 0, alpha)
}
.button:hover{
    background-color: #e63c29;
}
#tasks ul li, #tasks ol li{
    padding: 5px 0;
}
#tasks ul li label{
    cursor: pointer;
}

:not(pre) > code[class*="language-"], pre[class*="language-"]{
    background: #070707;
}
code[class*="language-"], pre[class*="language-"]{
    text-shadow: none;
    font-size: 16px;
}